<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ninpou.qbits">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".QbitsApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".tool.VpnActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".capture.PacketDetailActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".tool.PingActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".tool.TimestampActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".tool.Md5Activity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".tool.Base64CoderActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".tool.UrlCoderActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".request.ResponseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AppBarOverlay"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>